.targetingForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 56.5px;

  &__title {
    font-family: "TT Commons";
    font-size: 21px;
    line-height: 26px;
    color: #000000;
  }

  &__link {
    &-back {
      position: absolute;
      top: 60.1px;
      left: 3.36%;
      width: 10.8px;
      height: 19.8px;
      background: url("../../assets/svg/arrow-back.svg") no-repeat center;
    }

    &-next {
      margin-top: 24px;
      box-sizing: border-box; 
      width: 351px;
      height: 44px;
      background: #4986CC;
      border-radius: 10px;
      padding-top: 11px;
      padding-bottom: 11px;
      text-align: center;
      color: #fff;
      font-family: "SF Pro Text";
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.408px;
    }
  }

  &__img-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 351px;
    height: 150px;
    margin-top: 13.5px;
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #3F8AE0;
    border: 1px dashed #3F8AE0;
    border-radius: 5px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 80px;
      width: 24px;
      height: 24px;
      background: url('../../assets/svg/img.svg') no-repeat;
    }
  }

  &__list {
    margin-top: 14px;
    max-width: 351px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    box-sizing: border-box;
    width: 351px;
    height: 70px;
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      display: block;
      font-family: "SF Pro Text";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.154px;
      color: #6D7885;
      margin-bottom: 8px;
    }

    &-input {
      width: 100%;
      min-height: 44px;
      padding: 12px;
      text-align: left;
      box-sizing: border-box;
      background: #F2F3F5;
      border: 0.5px solid rgba(0, 0, 0, 0.12);
      border-radius: 10px;
      font-family: "SF Pro Text";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: -0.32px;
      color: #818C99;

      &__list {
        color: #000;
      }
    }
  }
}