.donations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 56.5px;

  &__title {
    font-family: "TT Commons"; 
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #000000;
  }

  &__description {
    margin-top: 273.5px;
    max-width: 170px;
    font-family: "SF Pro Text"; 
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.32px;
    color: #818C99;
  }

  &__link {
    box-sizing: border-box;
    height: 36px;
    margin-top: 24px;
    text-align: center;
    font-family: "SF Pro Text"; 
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #FFFFFF;
    background: #4986CC;
    border-radius: 10px;
    padding: 8px;
  }
}